<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <div class="navbar-brand-row">
                    <a class="brand page-scroll" href="#page-top" style="text-decoration:none">{{ site.title }}</a>
                    <span class="lang-switch">
                        <a href="{{ site.baseurl }}/en" class="btn-m">EN</a>
                        <a href="{{ site.baseurl }}/sr" class="btn-m">SR</a>
                        <a href="{{ site.baseurl }}/zh" class="btn-m">中文</a>
                    </span>
                </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#events">Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="#venue">Venue</a>
                </li>
                <li>
                    <a class="page-scroll" href="#travel">Travel</a>
                </li>
                <li>
                    <a class="page-scroll" href="#stay">Stay</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm" href="#portfolio">Things To Do</a>
                </li>
                <li>
                    <a class="page-scroll" href="#our_story">Photos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#FAQ">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm hidden-md" href="#contact">RSVP</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Charley和Danica<br>要结婚了</div>
            <div class="intro-lead-in">2026年8月22日</div>
            <div class="intro-lead-in">塞尔维亚诺维萨德</div>
            <a href="#events" class="page-scroll btn btn-xl">请告诉我更多</a>
        </div>
    </div>
</header>
