<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Potvrda dolaska</h2>
        <h3 class="section-subheading text-muted" style="color: #fff;">
          Molimo popunite formular ispod.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="rsvp-embed">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSd1wzKUuOEn4pvh21YrPfzoS9IVjNig9kPCYOgcYzuyCFtHfw/viewform?usp=header"
            width="100%"
            height="1200"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
            Loading…
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>