<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Travel</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Plane</h4>
                <p class="text-muted">The closest airport is the Belgrade Nikola Tesla airport (BEG). From there to Novi Sad, it's about 1 hr by taxi (~60-100€; ask the driver first and only use vehicles where the license plate ends in "TX"!) or about 1.5hrs and €10 with public transport. Google maps works quite well, and for example, you can take the <a href="https://www.bgprevoz.rs/linije/red-voznje/smer-a/607" target="_blank">607 to Tošin bunar</a> (all buses are free in Belgrade), and then any train to Novi Sad (~10€).  </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Car</h4>
                <p class="text-muted">There's plenty of parking all over Novi Sad, including free parking in front of the venue (for a limited number of cars).</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Bus</h4>
                <p class="text-muted">There are bus connections from all over Europe to Novi Sad (and via Belgrade).</p>
            </div>
        </div>
    </div>
</section>