<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Restoran</h2>
                <h3 class="section-subheading text-muted">
                <a href="https://maps.app.goo.gl/VtmzW5Lr63Ken13n6" target="_blank" rel="noopener noreferrer">Čarda Aqua Doria</a>. sa predivnim pogledom na Dunav, locirana tačno ispod <a href="https://en.wikipedia.org/wiki/Petrovaradin_Fortress" target="_blank">Petrovaradinske tvrđave</a>, očekuju vas tamburaši, dobra hrana i piće.</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.6687681549565!2d19.8597376!3d45.254490399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1068b51710bb%3A0xec234f804f62348c!2s%C4%8Carda%20Aqua%20Doria!5e0!3m2!1sen!2sde!4v1768643449701!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>