<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- Pre-wedding casual social event (re-uses reception image) -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive"
                                 src="{{ site.baseurl }}/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Meet & Greet (Optional)</h4>
                                <h4 class="subheading">August 21st, 7:00PM-10:00PM (or later)</h4>
                               <h6><a href="https://maps.app.goo.gl/tsPPPE7WANJBa8iM7" target="_blank" rel="noopener noreferrer">Bife Oblomov</a></h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Join us for a relaxed pre-wedding get-together. Drinks are on us and snacks will be provided. 
                                </p>
                            </div>
                        </div>
                    </li>

                    <!-- Combined Ceremony + Reception -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive"
                                 src="{{ site.baseurl }}/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremony &amp; Reception</h4>
                                <h4 class="subheading"> August 22nd, 5:00PM-1:00AM</h4>
                                <h6><a href="https://maps.app.goo.gl/C3MTnaRkaqnbe9Q39" target="_blank" rel="noopener noreferrer">Kruna</a></h6>

                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    The ceremony will start at 6:00PM sharp, followed by drinks, dinner, and dancing.
                                </p>
                            </div>
                        </div>
                    </li>

                    
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive"
                                 src="{{ site.baseurl }}/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Beach hangout (optional)</h4>
                                <h4 class="subheading">August 23rd, whenever you wake up</h4>
                                <h6><a href="https://maps.app.goo.gl/a1hQdM92BnnXqiTC7" target="_blank" rel="noopener noreferrer">Štrand</a></h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Hang out with us at the beach. There are many cafes and bars nearby to procure your own food and drinks. We'll find a shady spot near the linked pin. Please used the shared WhatsApp channel to coordinate a more precise location.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
